body {
  background: #0d001f;
  background-image: linear-gradient(#7f00ff44 1px, transparent 1px),
                    linear-gradient(to right, #7f00ff44 1px, transparent 1px);
  background-size: 45px 45px;
  color: #e7c3ff;
  font-family: "Consolas";
}

.container {
  border: 1px solid #b44bff;
  background: rgba(120, 0, 255, 0.07);
  box-shadow: 0 0 20px #b44bff;
  padding: 25px;
  margin: auto;
  width: 450px;
  border-radius: 12px;
}

h1 {
  color: #d890ff;
  text-shadow: 0 0 15px #bb55ff;
}

button {
  background: linear-gradient(135deg, #b44bff, #f011ff);
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
  box-shadow: 0 0 20px #b44bff;
}
